<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Chat</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>
            <a href="index">Takaisin</a> 
        </p>
        <br/>
        <div><img src="images/people.png" th:src="${avatar}" alt="Avatar" width="25" height="25"></img><span th:text="${chatname}">Käyttäjä</span>, olet kanavalla <span th:text="${channel}">Kanava</span>.</div>
        <div>
            <p><input type="text" name="message" id="message"/><input type="button" onclick="send();" value="Lähetä"/></p>
            <div id="messages">
                <p th:each="message: ${messages}">
                    <img src="images/people.png" th:src="${message.avatar}" alt="Avatar" width="25" height="25"></img><span th:text="${message}"></span>
                </p>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script th:inline="javascript">
                var client = null;
                // not a secure way to handle this, but works as a demo
                var avatar = /*[[${avatar}]]*/ "avatar";
                var chatname = /*[[${chatname}]]*/ "chatname";
                var channel = /*[[${channel}]]*/ "default";

                // messages defined in websocket config
                client = Stomp.over(new SockJS('/register'));
                client.connect({}, function (frame) {
                    var subscribeTo = '/channel/' + channel;
                    client.subscribe(subscribeTo, function (response) {
                        displayMessage(JSON.parse(response.body));
                    });
                });

                // utility functions for displaying messages
                function send() {
                    client.send("/ws/messages", {}, JSON.stringify({'avatar': avatar, 'chatname': chatname, 'channel': channel, 'content': document.getElementById('message').value}));
                }

                function displayMessage(message) {
                    var paragraph = document.createElement("p");
                    var img = document.createElement("img");
                    img.src = message.avatar;
                    img.height = 25;
                    img.width = 25;
                    paragraph.appendChild(img);
                    var span = document.createElement("span");
                    var textNode = document.createTextNode(message.chatname + " (" + message.timestamp + ")" + ": " + message.content);
                    span.appendChild(textNode);
                    paragraph.appendChild(span);
                    document.getElementById("messages").appendChild(paragraph);
                }


                // does not work in opera :/ -- this is also triggered
                // on some old IEs when clicking anchor links
                window.onbeforeunload = function () {
                    client.disconnect();
                    client.close();
                }
        </script>
    </body>
</html>
