<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sisään kirjautuminen</title>
    </head>
    <body>
        <h2>Kirjaudu sisään</h2>
        <form method="POST" th:action="@{/authenticate}">
            <p>Käyttäjänimi: </p>
            <input type="text" name="username" required="" placeholder="Username" />
            <p> Salasana: </p>
            <input type="password" name="password" required="" placeholder="password" />
            <p>&nbsp;</p>
            <input type="submit" name="submit" value="Kirjaudu" />
        </form>
        <p>
            <a th:href="@{/signup}">Luo tili</a>
        </p>
    </body>
</html>
